* {
    font-family: Helvetica, sans-serif;
}

.price {
    color: blue;
    font-weight: bold;
}

.title {
    font-size: 100px;
    font-family: "Helvetica";
    font-weight: bold;
    color: khaki;
    text-align: center;
}


h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.subhead {
    background-color: mediumspringgreen;
    margin: 0 auto;
}

.subhead2 {
    background-color: lightcoral;
    margin: 0 auto;
}

.subhead3 {
    background-color: skyblue;
    margin: 0 auto;
}
